<!doctype html>
<html>
<head>
    <meta type="charset" value="utf-8"/>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/minty/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.7.0/css/justifiedGallery.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.2/jquery.fancybox.css"/>
    <link rel="stylesheet" type="text/css" href="/static/style.css" type="text/css">
    <title>{% block title %}Photo gallery{% endblock %}</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.7.0/js/jquery.justifiedGallery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.2/jquery.fancybox.min.js"></script>
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>
